.navbar{
	background-color: #232f3d;
	position: fixed;
	width: 100%;
}

.row{

    padding-bottom: 20px;
    padding-top : 60px;
	
}

.form-container{
	padding-top: 200px;
	box-shadow: 0px 0px 10px 0px #000;
	padding-bottom: 20px;
}

.a{

	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0px 0px 10px 0px #000;
}

.des{

	border-right:1px solid #0d498ddc;
	border-left:2px solid #0d498ddc;
	border-radius: 1rem;
	transition: all o.2s;
	box-shadow: 0 0.5rem 0 rgba(0,0,0,.01); 
	
}
.w{
	color: #f5f3ee;
	background-color: white;
	padding-left: 3px;
	padding-left: 3px;
}

.headings{
	text-align: center;
	font-size:3vw;
	color: #272525;
	padding-top: 10px;
		
}

.f{
	padding-top: 40px;
	color: #2d2e2a;
}
.f2{
	color: #ceccce;
}

.reg{
	padding-top: 100px;
background-color: #ffffff;
border: 1px solid beige;
border-radius:1rem ;	
}


.firstRow{
	background-color: #ffffff;
	border-radius:1rem ;
}